.div-container-page-login{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .div-container-forms{
        height: 100vh;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1{
            font-size: 40px;
        }

        .div-container-buttons{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: row;
            width: 40%;
            margin-top: 25px;
            margin-bottom: 25px;
        }

        p{
            color: #1f1f1f;
        }

        .div-container-inputs{
            width: 60%;
            margin-top: 15px;
            
            *{
                margin: 5px;
            }
        }

        p a{
            color: #ff4747;
            text-decoration: none;
            font-weight: 400;
        }

        button{
            padding-top: 8px;
            padding-bottom: 8px;
            width: 30%;
            border: 1px solid #ff4747;
            color: #FFFFFF;
            font-weight: bold;
            background-color: #ff4747;
            font-size: 19px;
            border-radius: 10px;
            transition: 0.3s;
            margin-top: 10px;
        }

        button:hover{
            background-color: #ff4747c9;
            border: 1px solid #ff4747c9;
            cursor: pointer;
            transition: 0.3s;
        }
    }

    .div-container-access-style{
        height: 100vh;
        width: 50%;
        background-color: #ff4747;
        border-top-left-radius: 35px;
        border-bottom-left-radius: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       
        h1{
            font-size: 40px;
            color: #FFFFFF;
        }

        p{
            color: #FFFFFF;
        }

        button{
            padding-top: 8px;
            padding-bottom: 8px;
            width: 30%;
            border: 1px solid #ffffff96;
            color: #FFFFFF;
            background-color: transparent;
            font-size: 21px;
            border-radius: 10px;
            transition: 0.3s;
        }

        button:hover{
            background-color: #ffffff17;
            border: 1px solid #ffffff5d;
            cursor: pointer;
            transition: 0.3s;
        }

        *{
            margin: 10px;
        }
    }
}